header {
    margin: 0 var(--margin);
}

.header {
    a {
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.07rem;
        padding: 10px 20px;

        &:hover {
            box-shadow: 0 0 5px 0 rgba($color: #fd0000, $alpha: 1.0);
            border-radius: 10px;
        }
    }
}

.logo {
    p {
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 0.2rem;

        &:hover {
            color: var(--red);
        }
    }
}

.mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 5px;
        a {
            font-size: 12px;
            line-height: 28px;
            padding: 5px 10px;
            letter-spacing: 0rem;
        }
    }

    .logo {
        p {
            font-size: 24px;
            line-height: 42px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background-color: var(--red);
    }
}