footer {
   filter: brightness(0.8);
   margin-top: var(--margin);
}

.a-link {
      cursor: pointer;
      :hover {
         text-decoration: underline var(--text);
         text-underline-offset: 8px;
   }
}

.line {
   width: 100%;
   height: 1px;
   background-color: var(--gray);
}


@media screen and (max-width: 600px) {
    footer {
        p {
            font-size: 32px !important;
        }
    }

    .a-link {
        flex-direction: column;
    }
}